* { box-sizing: border-box; }
@font-face {
  font-family: 'MyCustomFont';
  src: url('fonts/my-custom-font.ttf');
}
html, body {
  margin: 0;
  height: 100%;
  background: #000;
  color: #fff;
  font-family: 'MyCustomFont', "Noto Sans TC", "Microsoft JhengHei", sans-serif;
}
#game-container { width: 100vw; height: 100vh; }
canvas { cursor: default; }
